<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Центр дистанционного обучения</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="navbar-nav flex-grow-1 justify-content-between">
                    <span class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Центр дистанционного обучения</a>
                    </span>
                    <div class="nav-item d-inline-flex">
                        @{
                            if (!User.Identity.IsAuthenticated)
                            {
                            <span class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Войти</a>
                            </span>
                            }
                            else
                            {
                                <span class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Index">Мой профиль</a>
                                </span>
                                <span class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Выйти</a>
                                </span>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Центр дистанционного обучения
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>