@model IS_distance_learning.Models.Question

@{
    ViewData["Title"] = "Создание вопроса";
}

<h1>Добавление нового вопроса</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Введите вопрос</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="TestId" class="form-control" hidden value="@ViewBag.TestId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <form asp-action="Details" asp-controller="Tests" method="get">
        <input name="id" type="hidden" value="@ViewBag.TestId" />
        <input type="submit" value="Вернуться к тесту" class="btn-link border-0 bg-white" />
    </form>
</div>