@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в Центр дистанционного обучения</h1>
    <p>Для ознакомления с курсами и прохождения тестирований необходимо <a asp-controller="Account" asp-action="Login">войти</a> на сайт.</p>
</div>