@model List<Group>

@{
    ViewData["Title"] = "Группы";
}
<div class="col-md-4 mb-2">
    <a asp-action="Create" asp-controller="Group" class="btn btn-primary">Добавить новую группу</a>
</div>
<table border="1" bordercolor="#dee2e6" class="table">
    <tr>
        <th>Название группы</th>
        <th>Код группы</th>
        <th>Редактировать</th>
        <th>Удалить</th>
    </tr>
    @foreach (Group g in Model)
    {
        <tr>
            <td>@g.Name</td>
            <td>@g.Code</td>
            <td>
                <form method="get">
                    <input name="id" class="hide disabled invisible" type="hidden" value="@g.Id" />
                    <input type="submit" asp-action="Update" asp-controller="Group" class="btn btn-info" value="Редактировать" />
                </form>
            </td>
            <td>
                <form method="post">
                    <input name="id" class="hide disabled invisible" type="hidden" value="@g.Id" />
                    <input type="submit" asp-action="Delete" asp-controller="Group" class="btn btn-danger" value="Удалить" />
                </form>
            </td>
        </tr>
    }
</table>