@model IS_distance_learning.Models.Account

@{
    ViewData["Title"] = "Редактирование аккаунта";
}

<h1>Редактирование аккаунта</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Login" class="control-label">Логин</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Пароль</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Фамилия</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label">Отчество</label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label">Роль</label>
                <select class="form-control" name="RoleId" id="role_select" asp-for="RoleId">
                    <option value="1">Администратор</option>
                    <option value="2">Преподаватель</option>
                    <option value="3">Студент</option>
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div id="group_select" class="form-group hide">
                <label for="GroupId" class="control-label">Группа</label>
                <select class="form-control" name="GroupId">
                    @{
                        foreach (Group g in @ViewBag.Groups)
                        {
                            <option value="@g.Id">@g.Name  @g.Code</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку аккаунтов</a>
</div>
